<div class="content-scroll">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Name Product</th>
                <th>Model</th>
                <th>Price</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="product in products">
                <td>{{$index + 1 }}</td>
                <td>{{product.Name}}</td>
                <td>{{product.Model}}</td>
                <td>{{product.Price}}</td>
                <td>{{product.Description}}</td>
            </tr>
        </tbody>
    </table>
</div>
