<div class="row-fluid">
    <ul class="thumbnails">
        <li class="span6">
            <a href="#" class="thumbnail">
                <img data-src="holder.js/360x422" alt="360x422" src="{{product.path}} " style="width: 360px; height: 422px;">
            </a>
        </li>
        <li class="span6">
            <div class="thumbnail details">
                <div>Modelo :{{product.Model}} </div>
                <div>Disponibilidad: Pedido</div>
                <div>Precion : {{product.Price}}  $us</div>
                <div>Material :  {{product.Material}} </div>
               <!-- <div>Tipo : Carcasa / Funda</div>-->
                <div>Colores :</div>
                <div>
                    <ul class="thumbnails colors">
                        <li class="span3">
                            <a href="#" class="thumbnail" style="background-color: black;"></a>
                        </li>
                        <li class="span3">
                            <a href="#" class="thumbnail" style="background-color: green;"></a>
                        </li>
                        <li class="span3">
                            <a href="#" class="thumbnail" style="background-color: red;"></a>
                        </li>
                        <li class="span3">
                            <a href="#" class="thumbnail" style="background-color: orange;"></a>
                        </li>
                    </ul>
                </div>
                <div class="controls">
                    <button type="button" class="btn btn-primary" ng-click="addToCar()" > <i class="icon-pluss"> Anadir </i></button>
                </div>
            </div>
        </li>
    </ul>
</div>
