<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>AngularJS Demo</title>
    <link href="../assets/libs/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="../assets/libs/bootstrap/css/bootstrapMetro.css" rel="stylesheet" />
    <link href="../assets/libs/bootstrap/css/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="../assets/libs/bootstrap/css/bootstrap-responsive.css" rel="stylesheet" />
    <link href="../assets/css/Site.css" rel="stylesheet" />
    <script src="../assets/js/jquery-1.7.1.js"></script>
    <script src="../assets/libs/bootstrap/js/bootstrap.js"></script>



</head>
<body >
    <div class="row-fluid header">
        <div class="pull-right"> 
            <a href="#lB" data-toggle="tab"><i class="icon-shopping-cart"><span class="badge badge-important">6</span></i></a>
        </div>
    </div>
   
    
</body>
</html>
