<div class="row-fluid">
    <ul class="thumbnails">
        <li class="span6">
            <a href="#" class="thumbnail">
                <img data-src="holder.js/360x422" alt="360x422" src="/Content/images/funda02.jpg" style="width: 360px; height: 422px;">
            </a>
        </li>
        <li class="span6">
            <div class="thumbnail details">
                <div>Modelo : Samsung Galaxy S3</div>
                <div>Marca : FundaToys</div>
                <div>Disponibilidad: Pedido</div>
                <div>Precion : 20 $us</div>
                <div>Material : Plastico Sintetico</div>
                <div>Tipo : Carcasa / Funda</div>
                <div>Colores :</div>
                <div>
                    <ul class="thumbnails colors">
                        <li class="span3">
                            <a href="#" class="thumbnail" style="background-color: black;"></a>
                        </li>
                        <li class="span3">
                            <a href="#" class="thumbnail" style="background-color: green;"></a>
                        </li>
                        <li class="span3">
                            <a href="#" class="thumbnail" style="background-color: red;"></a>
                        </li>
                        <li class="span3">
                            <a href="#" class="thumbnail" style="background-color: orange;"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>
</div>
